.themify_builder_12_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/ultra-fitness/files/2016/10/PeopleImages.com-ID1175239-1400x858.jpg"); padding-top:15%; padding-bottom:15%; }
.themify_builder_12_row.module_row_0.module_row>.builder_row_cover{background-color:rgba(0,0,0, 0.3); }
@media screen and (max-width: 480px) {.themify_builder_12_row.module_row_0.module_row{padding-top:35%; padding-bottom:45%; }
}
.module_row_0 .module_column_0.tb_12_column.module_column,.module_row_0 .module_column_0.tb_12_column h1,.module_row_0 .module_column_0.tb_12_column h2,.module_row_0 .module_column_0.tb_12_column h3:not(.module-title),.module_row_0 .module_column_0.tb_12_column h4,.module_row_0 .module_column_0.tb_12_column h5,.module_row_0 .module_column_0.tb_12_column h6{color:#ffffff; }
.module_row_0 .module_column_0.tb_12_column.module_column{text-align: center; }
.themify_builder .fancy-heading-12-0-0-0.module .main-head{font-size:1.2em; }
.themify_builder .feature-12-0-0-1.module-feature{text-align: center; }
.themify_builder_12_row.module_row_1.module_row{padding-bottom:3%; }
.module_row_1 .module_column_0.tb_12_column.module_column,.module_row_1 .module_column_0.tb_12_column h1,.module_row_1 .module_column_0.tb_12_column h2,.module_row_1 .module_column_0.tb_12_column h3:not(.module-title),.module_row_1 .module_column_0.tb_12_column h4,.module_row_1 .module_column_0.tb_12_column h5,.module_row_1 .module_column_0.tb_12_column h6{color:#ffffff; }
.module_row_1 .module_column_0.tb_12_column.module_column{text-align: center; }
.themify_builder .box-12-1-0-0.module-box .module-box-content{padding-top:42px; padding-bottom:10px; }
.themify_builder .box-12-1-0-0.module-box{margin-top:-133px; margin-right:18%; margin-bottom:0px; margin-left:18%; }
@media screen and (max-width: 480px) {.themify_builder .box-12-1-0-0.module-box{margin-right:0px; margin-left:0px; }
}
.themify_builder_12_row.module_row_2.module_row{padding-top:1%; padding-bottom:3%; }
@media screen and (max-width: 480px) {.themify_builder_12_row.module_row_2.module_row{padding-top:10%; }
}
.themify_builder_12_row.module_row_3.module_row{padding-bottom:2%; }
.themify_builder .pricing-table-12-3-0-0.module-pricing-table{border-top:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; }
.themify_builder .pricing-table-12-3-0-0.module.module-pricing-table .module-pricing-table-header{color:#404040; font-size:12px; background-color:#f4f4f4; }
.themify_builder .pricing-table-12-3-0-0.module-pricing-table .module-pricing-table-button{background-color:#e75d42; }
.themify_builder .pricing-table-12-3-1-0.module-pricing-table{border-top:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; }
.themify_builder .pricing-table-12-3-1-0.module.module-pricing-table .module-pricing-table-header{color:#404040; font-size:12px; background-color:#f4f4f4; }
.themify_builder .pricing-table-12-3-1-0.module-pricing-table .module-pricing-table-button{background-color:#e75d42; }
@media screen and (max-width: 480px) {.module_row_3 .module_column_2.tb_12_column.module_column{padding-top:50px; }
}
.themify_builder .pricing-table-12-3-2-0.module-pricing-table{border-top:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; }
.themify_builder .pricing-table-12-3-2-0.module.module-pricing-table .module-pricing-table-header{color:#ffffff; font-size:12px; background-color:#0bcf6c; }
.themify_builder .pricing-table-12-3-2-0.module-pricing-table .module-pricing-table-content{color:#575757; background-color:#f4f4f4; }
.themify_builder .pricing-table-12-3-2-0.module-pricing-table .module-pricing-table-button{background-color:#e75d42; }
.themify_builder .pricing-table-12-3-3-0.module-pricing-table{border-top:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; border-left:1px solid #dddddd; }
.themify_builder .pricing-table-12-3-3-0.module.module-pricing-table .module-pricing-table-header{color:#404040; font-size:12px; background-color:#f4f4f4; }
.themify_builder .pricing-table-12-3-3-0.module-pricing-table .module-pricing-table-button{background-color:#e75d42; }
.themify_builder_12_row.module_row_4.module_row{background-color:#222222; }
.themify_builder_12_row.module_row_4.module_row,.themify_builder_12_row.module_row_4 h1,.themify_builder_12_row.module_row_4 h2,.themify_builder_12_row.module_row_4 h3:not(.module-title),.themify_builder_12_row.module_row_4 h4,.themify_builder_12_row.module_row_4 h5,.themify_builder_12_row.module_row_4 h6{color:#ffffff; }
.themify_builder_12_row.module_row_4 a{color:#ffffff; }
.themify_builder .image-12-sub_row_4-0-0-0-0.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-12-sub_row_4-0-0-0-1.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-12-sub_row_4-0-0-1-0.module-image .image-content{font-size:1.5em; text-align: left; }
.themify_builder .image-12-sub_row_4-0-0-1-1.module-image .image-content{font-size:1.5em; text-align: left; }
.module_row_4 .module_column_1.tb_12_column.module_column{padding-top:4%; padding-right:6%; padding-bottom:4%; padding-left:6%; }
.themify_builder .text-12-4-1-0.module-text{text-align: center; }
.themify_builder .buttons-12-4-1-1 div.module-buttons{text-align: center; }
.themify_builder_12_row.module_row_5.module_row{padding-top:5%; padding-bottom:3%; }
@media screen and (max-width: 480px) {.themify_builder_12_row.module_row_5.module_row{padding-top:10%; }
}
.themify_builder .buttons-12-5-0-2 div.module-buttons{text-align: center; }
.themify_builder_12_row.module_row_6.module_row{padding-top:5%; padding-bottom:5%; }
.themify_builder .fancy-heading-12-6-0-0.module-fancy-heading{margin-bottom:30px; }
@media screen and (max-width: 480px) {.sub_column_post_12.sub_column_6-0-1-0.module_column{padding-bottom:50px; }
}
@media screen and (max-width: 480px) {.sub_column_post_12.sub_column_6-0-1-1.module_column{padding-bottom:50px; }
}
@media screen and (max-width: 480px) {.sub_column_post_12.sub_column_6-0-1-2.module_column{padding-bottom:50px; }
}
.themify_builder_12_row.module_row_7.module_row{background-color:#222222; }
.themify_builder_12_row.module_row_7.module_row,.themify_builder_12_row.module_row_7 h1,.themify_builder_12_row.module_row_7 h2,.themify_builder_12_row.module_row_7 h3:not(.module-title),.themify_builder_12_row.module_row_7 h4,.themify_builder_12_row.module_row_7 h5,.themify_builder_12_row.module_row_7 h6{color:#ffffff; }
.themify_builder_12_row.module_row_7 a{color:#ffffff; }
.module_row_7 .module_column_0.tb_12_column.module_column{padding-top:4%; padding-right:6%; padding-bottom:4%; padding-left:6%; }
.themify_builder .text-12-7-0-0.module-text{text-align: center; }
.themify_builder .buttons-12-7-0-1 div.module-buttons{text-align: center; }
.themify_builder .image-12-sub_row_7-1-0-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-12-sub_row_7-1-0-1-0.module-image .image-content{text-align: center; }
@media screen and (max-width: 480px) {.themify_builder .image-12-sub_row_7-1-0-1-0.module-image .image-content{text-align: center; }
}
.themify_builder .image-12-sub_row_7-1-1-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-12-sub_row_7-1-1-1-0.module-image .image-content{text-align: center; }
.themify_builder .image-12-sub_row_7-1-2-0-0.module-image .image-content{text-align: center; }
.themify_builder .image-12-sub_row_7-1-2-1-0.module-image .image-content{text-align: center; }
@media screen and (max-width: 480px) {.themify_builder .image-12-sub_row_7-1-2-1-0.module-image .image-content{text-align: center; }
}
.themify_builder_12_row.module_row_8.module_row{padding-top:5%; padding-bottom:2%; }
@media screen and (max-width: 480px) {.themify_builder_12_row.module_row_8.module_row{padding-top:10%; }
}
.themify_builder .text-12-8-0-1.module-text{text-align: center; padding-right:14%; padding-left:14%; }
.module_row_9 .module_column_0.tb_12_column.module_column,.module_row_9 .module_column_0.tb_12_column h1,.module_row_9 .module_column_0.tb_12_column h2,.module_row_9 .module_column_0.tb_12_column h3:not(.module-title),.module_row_9 .module_column_0.tb_12_column h4,.module_row_9 .module_column_0.tb_12_column h5,.module_row_9 .module_column_0.tb_12_column h6{color:#ffffff; }
.module_row_9 .module_column_0.tb_12_column.module_column{text-align: center; }
.themify_builder .box-12-9-0-0.module-box .module-box-content{padding-top:42px; padding-bottom:10px; }
.themify_builder .box-12-9-0-0.module-box{margin-right:18%; margin-bottom:-110px; margin-left:18%; }
@media screen and (max-width: 480px) {.themify_builder .box-12-9-0-0.module-box{margin-right:0px; margin-left:0px; }
}
